<!-- Default home page -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
<style>
  /* Styles included inline since you'll probably be deleting this page anyway */
  html,body{text-align:left;font-size:1em}html,body,img,form,textarea,input,fieldset,div,p,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code{margin:0;padding:0}ul,li{list-style:none}img{display:block}a img{border:0}a{text-decoration:none;font-weight:normal;font-family:inherit}*:active,*:focus{outline:0;-moz-outline-style:none}h1,h2,h3,h4,h5,h6{font-weight:normal}div.clear{clear:both}.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}body{font-family:"Open Sans",Arial,sans-serif;font-weight:300;}.top-bar {width: 100%; background-color: #e4f0f1; padding: 15px 0;}.top-bar .container img {float: left;}.top-bar .container ul {float: right; padding-top: 25px;}.top-bar .container li {float: left; width: 125px; text-align: center; font-size: 15px; color:#000; font-weight: 600;}.top-bar .container a li:hover {color: #118798; -webkit-transition:color 200ms; -moz-transition:color 200ms; -o-transition:color 200ms;transition:color 200ms;}.container{width: 80%; max-width: 1200px; margin: auto;}div.header {-webkit-transition: 6s; -moz-transition: 6s; -o-transition: 6s;transition: 6s; background: rgba(4, 36, 41, 0.89) url(http://sailsjs.org/images/img_sailsShadow.png) no-repeat 42% bottom; padding: 100px 0 65px;}.header h1#main-title{color: #fff; font-weight: 300; font-size: 2.5em;}.header h3{color: #b1eef7; font-style: italic; font-weight: 300;}.header h3 code{font-style: normal!important; background-color: rgba(255,255,255,0.5); font-weight: 300; color:#0e6471; margin: 0px 5px;}div.main.container{padding: 50px 0;}h1 {color: #118798; font-weight: 300;}code {font-size: inherit; font-family: 'Consolas', 'Monaco', monospace; padding:4px 5px 1px; background-color: #f3f5f7}a{color: #118798; font-weight: 300; text-decoration: underline;}a:hover {color: #0e6471; -webkit-transition:color 200ms; -moz-transition:color 200ms; -o-transition:color 200ms;transition:color 200ms;}p{line-height: 1.5em;}blockquote{background-color: #e4f0f1; padding: 25px; line-height: 1.5em; margin: 15px 0;}blockquote span{font-weight: 600; padding-right: 5px;}ul.getting-started{padding: 25px 75px 25px 0; width: 70%; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}ul.getting-started li{padding: 25px 0;}ul.getting-started li h3 {padding-bottom: 10px; font-size: 25px; font-weight: 300;}.sprite{background:url(http://sailsjs.org/images/newapp.sprite.png) no-repeat; position: absolute; left: 0; top:0;}.getting-started .sprite{margin-left:10px;padding-left:60px;height:42px;width:0; float: left;}.getting-started .one{background-position:0 0}.getting-started .two{background-position:0 -42px}.getting-started .three{background-position:0 -83px}div.step {position: relative; padding-left: 70px; opacity: 0.9;}div.step:hover{ opacity: 1;}div.links {float: left; width: 30%; max-width: 325px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #f3f5f7; border: 1px solid #ebebeb; padding: 25px 45px 35px;}div.links h3 {color: #727272; text-align: center; font-size: 28px; font-weight: 300;}div.links h4 {color: #727272; font-size: 17px; font-weight: 600; padding: 15px 0 10px;}div.links .link-list a {text-decoration: none; font-weight: 400;}div.links .link-list a li {padding: 0px 0px 5px 10px;}div.default-page{min-width: 1200px;}.pocket{display:none;}
</style>
<script type="text/javascript">
setTimeout(function sunrise () {
  document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>

<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('Wellcome to our Library !') %></h1>
    <h3 class="container">Our Book List:</h3>
  </div>
  <div class="main container clearfix" ng-controller="homePageController" >
    
    <dialog data-role="popup_book" id="myPopupDialog_book" class="popupContainer_book" style="display:none;">
        <section class="popupBody_book">
            <i onmouseover="" style="cursor: pointer;" id="exit_book" class="fa fa-times" ng-click='closeDialog_book()'></i>
            <label>name:</label>
            <input ng-model="g_name_book" type="text">
            <label>author:</label>
            <input ng-model="g_author_book" type="text">
            <label>edition:</label>
            <input ng-model="g_edition_book" type="text">
            <label>copies:</label>
            <input ng-model="g_copies_book" type="text">
            
            <button onmouseover="" id="submitBook" size='40' ng-click='saveBook()'>save</button>
        </section>
    </dialog>
    
    <dialog data-role="popup_book" id="myPopupDialog_removeBook" class="popupContainer_removeBook" style="display:none;">
        <section class="popupBody_removeBook">
            <i onmouseover="" style="cursor: pointer;" id="exit_removeBook" class="fa fa-times" ng-click='closeDialog_removeBook()'></i>
            <ul class="booksByUser">
              <li class="child2" ng-repeat='book in booksByUser'>
                <input type="radio" class="child" name="remBook" value={{book.id}}>
                {{book.name}}
              </li>
            </ul>
            
            <button onmouseover="" id="submitRemoveBook" size='40' ng-click='removeBook()'>remove</button>
        </section>
    </dialog>
    
    
    <ul class="tab">
      <li><a href="javascript:void(0)" class="tablinks" ng-click="openTable('MainTable')">Lendings</a></li>
      <li><a href="javascript:void(0)" class="tablinks" ng-click="openTable('BooksTable')">Books</a></li>
      <li><a href="javascript:void(0)" class="tablinks" ng-click="openTable('UsersTable')">Users</a></li>
    </ul>
    
    <div id="MainTable" class="tabcontent">
      <table >
        <thead>
          <tr>
            <th class="text-left">id</th>
            <th class="text-left">name</th>
            <th class="text-left">author</th>
            <th class="text-left">edition</th>
            <th class="text-left">owner</th>
            <th class="text-left">copies</th>
          </tr>
        </thead>
        
        <tbody class="table-hover">
          <tr ng-repeat='book in books' ng-click=showUsers(book.id) onmouseover="" style="cursor: pointer;">
            <td class="text-left">{{book.id}}</td>
            <td class="text-left">{{book.name}}</td>
            <td class="text-left">{{book.author}}</td>
            <td class="text-left">{{book.edition}}</td>
            <td class="text-left">{{book.owner}}</td>
            <td class="text-left">{{book.copies}}</td>
          </tr>
        </tbody>
      </table>
      
      <div id="usersTable">
        <ul>
          <li id="usersOfBook">
            Users of the book:
            <i onmouseover="" style="cursor: pointer;" id="exit_bookUsers" class="fa fa-times" ng-click='hideUsers()'></i>
          </li>
          <li ng-repeat='user in users'>
            {{user.username}}
          </li>
        </ul>
        
        
      </div>
      
    </div>
    
    <div id="BooksTable" class="tabcontent">
      <table >
        <tr>
          <th>id</th>
          <th>name</th>
          <th>author</th>
          <th>edition</th>
          <th>owner</th>
          <th>copies</th>
          <th>lend</th>
          <th>return</th>
        </tr>
    
        <tr ng-repeat='book in books'>
          <td >{{book.id}}</td>
          <td>{{book.name}}</td>
          <td>{{book.author}}</td>
          <td>{{book.edition}}</td>
          <td>{{book.owner}}</td>
          <td>{{book.copies}}</td>
          <td>
            <button ng-click='lendBook(book.id)'>Lend Book</button>
          </td>
          <td>
            <button ng-click='returnBook(book.id)'>Return Book</button>
          </td>
        </tr>
      </table>
      
      <div >
        <button ng-click="openDialog_book()">Add Book</button>
        <button ng-click='openDialog_removeBook()'>Remove Book</button>
        <button ng-click='openDialog_returnBook()'>Return Book</button>
      </div>
      
    </div>
    
    <div id="UsersTable" class="tabcontent">
      <table >
        <tr>
          <th>id</th>
          <th>username</th>
          <th>email</th>
          <th>gravatarURL</th>
        </tr>
    
        <tr ng-repeat='user in allUsers'>
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.gravatarURL}}</td>
        </tr>
      </table>
    </div>
    
  </div>
</div>
