<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Library App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Expose sails locals on the window object -->
    <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: <%- typeof _csrf !== 'undefined' ? JSON.stringify(_csrf) : 'null' %>,
      me: <%- typeof me !== 'undefined' ? JSON.stringify(me) : 'null' %>,
      books: <%- typeof books !== 'undefined' ? JSON.stringify(books) : 'null' %>,
      users: <%- typeof users !== 'undefined' ? JSON.stringify(users) : 'null' %>
    };
    </script>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/dependencies/angular-toastr.css">
    <link rel="stylesheet" href="/styles/dependencies/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/dependencies/fontawesome.min.css">
    <link rel="stylesheet" href="/styles/dependencies/ng-cloak.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-app="library">
    <%- partial('./partials/navigation.ejs') %>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    
    <!-- This tells the WebSocket client automatically send the _csrf token in every WebSocket request -->
    <script src="/js/dependencies/sails.io.js" headers='{"x-csrf-token":<%- typeof _csrf !== 'undefined' ? JSON.stringify(_csrf) : 'null' %>}'></script>


    <script type="text/javascript">
      io.sails.headers = {  //#A
        'x-csrf-token': window.SAILS_LOCALS._csrf
      }
    </script>
    
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/lodash.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/ui-bootstrap.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls.js"></script>
    <script src="/js/dependencies/angular-toastr.tpls.js"></script>
    <script src="/js/dependencies/ng-pattern-restrict.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/homePageController.js"></script>
    <script src="/js/controllers/signinPageController.js"></script>
    <script src="/js/controllers/signupPageController.js"></script>
    <script src="/js/controllers/profilePageController.js"></script>
    <script src="/js/controllers/editProfilePageController.js"></script>
    <script src="/js/controllers/navPageController.js"></script>
    <!-- SCRIPTS END>
  </body>
</html>
