<script type="text/javascript">
  window.SAILS_LOCALS.frontEnd = <%-
    // Note that by putting these comments inside of the EJS tag, we prevent them from
    // being sent down to client (i.e. they are boiled away on the server along
    // with the EJS tags)
    //
    // Notice we must check that `stars` exists using typeof to keep EJS from throwing
    // and displaying an ugly error message when rendering certain pages
    // (i.e. 404 /500 error pages)
    typeof frontEnd !== 'undefined' ? JSON.stringify(frontEnd) : 'null'
    // Note that we deliberately use 'null' (a string) because EJS converts the
    // `null` literal  into empty string (''), which is not what we want (that would
    // be invalid JS and cause a client-side error in the browser)
    %>;
</script>
<div class="profile" ng-controller="profilePageController" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-stats list-group">
          <div class="profile-item list-group-item">
            <div class="avatar-container">
              <img class="avatar-img" src="<%= gravatarURL %>"/>
            </div>
          </div>
          
        </div>
        
      </div>
      <% if (me && me.isMe ) { %>
        <div class="col-md-3 profile-edit-separation" >
          <h1><%=me.username %></h1>
          <h3> <a href="mailto:<%= me.email %>"><%= me.email %></a></h3>
          <div>
            <a href="/profile/edit" class="btn btn-lg btn-primary">Edit</a>
            <a ng-click="removeProfile()" class="btn btn-lg btn-primary btn-danger">Delete</a>
          </div>
        </div>
      <% } %>
     
    </div>
  </div>
</div>