<div class="sign-in" ng-controller="signinPageController" >
  <div class="container-fluid">
    <div class="row">
      <div class="auth-form login-form col-sm-4 col-sm-offset-4">
        <form role="form" ng-submit="submitLoginForm()">
          <div class="form-title">
            <img id="libImg" src="/images/library_logo.jpg" >
            <span class="text">Login</span>
          </div>
          <fieldset>
            <div class="form-group">
              <!-- Email address or Username -->
              <input ng-model="loginForm.login" class="form-control input-lg" autofocus placeholder="Username or email" name="login" type="text">
            </div>
            <div class="form-group">
              <!-- Password -->
              <input ng-model="loginForm.password" class="form-control input-lg" placeholder="password" name="password" type="password">
            </div>
            <div class="form-group">
              <button type="submit" class="submit-btn btn btn-lg btn-block">
              <span ng-show="!loginForm.loading">Sign in</span>
              <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
              <span ng-show="loginForm.loading">Signing in...</span>
              </button>
            </div>
          </fieldset>
        </form>
        <div class="auth-form-links">
          <p>Don't have an account? <a class="sign-up-link" href="/signup">Sign up.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>